html {
    height:100%;
}

body{
    border:0;
    margin:0;
    color: #000000;
    font-size: 1em;
    line-height: 1.5em;
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing:antialiased;
}

.latex {
    text-align:left;
    margin: 0px 0px 0px 0px;
}

.latex p {
  margin-top: 0em;
  margin-bottom: .5em;
}

.latexcode {
    border-style: solid;
    border-width: 1px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

.caption {
    text-align: center;
    font-size: 0.7em;
}

.index-font {
    font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.align-right {
    float: right;
    margin: 5px 0 5px 5px;
}

.align-center {
    margin: 5px auto;
    display: block;
}

.paging {
    display: table;
    width: 100%;
}

.paging nav {
    display: table-cell;
    text-align: left;
}

.paging p {
    display: table-cell;
    text-align: right;
}

.centeredImg {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
}

.mono {
   font-family:'Lucida Consolas', monospace;
}

.cursive {
   font-family: 'Lucida Consolas', cursive;
   font-size: 18px;
}

/* LOGO */
IMG.logo{
    text-align: center;
    display: block;
    padding:1em;
    margin-left: auto;
    margin-right: auto;
}

/* NAV BAR*/
.navbar {
    background-color: black;
    text-align: center;
    position: static;
    height: 25px;
    width: 100%;
    z-index:100;
}

.navbar ul {
    margin:0;
    padding:0;
}

.navbar li {
    display: inline-block;
    color: #bdbdbd;
    margin-right: -5px;
}

.navbar ul ul {
    position: absolute;
    display: none;
}

.navbar li ul {
    position: absolute;
    display: none;
    width: inherit;
}

.navbar li:hover ul {
    display:block;
    padding: 0;
}

.navbar li:hover ul a {
    text-align: left;
    padding: 0 10px 0 0;
    margin: 0;
    background-color: black;
    height: 30px;
}

.navbar li li {
    text-align: left;
    font-size: 0.8em;
}

.navbar li a {
    display:inline-block;
    color: #bdbdbd;
    padding: 0em 2em 0em 0em;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar li li > a:before {
    content: ' • ';
}

.navbar :hover{
    color: white;
}

/* Contents */
#contents {
    width : 760px;
    background : #fff;
    border : 1px solid #f6f6f6;
    border-top : none;
    clear : both;
    margin : 0px;
    padding : 20px;
}

#twitter-logo {
    position:absolute;
    top:200px;
    right:0;
}

#github-logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#banner {
    color : #369;
    font-size : small;
    font-weight : thick;
    line-height : 15px;
    margin-left : 100px;
    padding : 2px 10px 2px 10px;
    border : 2px solid #369;
    float:right;
    text-align:right;
}

#main{
    margin: 30px auto;
    max-width: 800px;
}

.clear {
    color: #000;
    clear: both;
    padding : 5px;
}

#main pre {
    font-size: .9em;
    line-height: 1em;
    background-color: #f0f0f0;
    padding: 10px 15px;
    font-family: 'Source Code Pro', monospace;
}

pre.status {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    background: #f0f0f0;
    line-height: 20px;
    overflow: auto;
}

pre code {
    font-family: 'Source Code Pro', monospace;
    margin: 0 0 0 40px;
    padding: 18px 0;
    display: block;
}

.supportleft {
    float: left;
    text-align: center;
    width: 200px;
}

#label {
    position:absolute;
    width: 190px;
    left: 12px;
    padding:10px;
}

/* Table */
table.reference,table.tecspec{
	border-collapse:collapse;width:100%;
}

table.reference tr:nth-child(odd)	{background-color:#f1f1f1;}
table.reference tr:nth-child(even)	{background-color:#ffffff;}

table.reference tr.fixzebra				{background-color:#f1f1f1;}

table.reference th{
		color:#ffffff;background-color:#555555;border:1px solid #555555;padding:3px;vertical-align:top;text-align:left;
}

table.reference th a:link,table.reference th a:visited{
		color:#ffffff;
}

table.reference th a:hover,table.reference th a:active{
		color:#EE872A;
}

table.reference td{
		border:1px solid #d4d4d4;padding:5px;padding-top:7px;padding-bottom:7px;vertical-align:top;
}

table.reference td.example_code
{
vertical-align:bottom;
}

.peoplelist { margin-left: 5px; }
.peoplelist table tr td { font-size: 14pt; }
.peoplelist table tr td { padding-top: 14px; }
ul.mainpage li { margin-top: 8pt; }

.align-middle { text-align: middle; }

h1,h2,h3,h4,h5,h6{
font-weight:bold;
line-height:140%;
}

h1{
    text-align: center;
    font-size:2.7em;
    margin:10px 0 10px 0;
    color: black;
}

h1 a{
    text-decoration: none;
}

h2{
    font-size:2.4em;
    margin:10px 0 10px 0;
}

h3{
    font-size:2.1em;
    margin:10px 0 10px 0;
}

h4{
font-size:1.8em;
margin:10px 0 10px 0;
}


h5{
font-size:1.5em;
margin:10px 0 10px 0;
}

h6{
font-size:1.2em;
margin:10px 0 5px 0;
}

a{
    color: #008B8B;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a.toggler {
    font-size: 9pt;
    color: #595959;
}

.icon {
    position: relative;
    background: transparent url(/static/icons.png) no-repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    height: 30px;
    margin: -3px;
    top: -3px;
}

#ie-test {
    position: relative;
    width: 100%;
}

pre.literal {
    font-size: 12px;
    padding: 5px;
    margin: 0;
    background: #f0f0f0;
    line-height: 20px;
}


/* Two images side by side*/
.main_block {width: 800px; }
.main_block:before,.main_block:after { overflow:hidden; content:""; display:table; }
.main_block:after { clear:both; }
.inner_block {
 display: inline-block;
 float:left;
 width:50%;
}
.inner_block img {width:90%; height:auto; vertical-align:middle; }


/* Footer */
#footer{
    text-align:center;
    padding:20px;
    margin:0;
    border-top:1px solid #ddd;
    color:#2E2E2E;
    font-size:0.8em;
    text-shadow:0px 1px 1px #fff;
    position: relative;
    bottom:10px;
    height:20px;
    width:100%;
    background:#fff;
}

#footer a {
    font-size : normal;
    font-weight : thick;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}

#header {
    margin: 0 100 0 0px;
}
